.container-fluid {
    margin: 0;
    padding: 0;
    width: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-md-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}

.text-center {
    text-align: center;
}

ul.space_list li {
    margin-bottom: 1em;
}

.img {

    max-width: 10%;
    height: auto;
}

.cart {
    max-width: 20%;
}

.search {
    max-width: 12%;
}
